# MongoDB
MONGO_URL="mongodb+srv://udayhemu:Uday%401234@cluster0.zyvuhyi.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Server
PORT=4000

# Email Configuration for OTP
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password
